body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h2 {
  font-family: Helvetica;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
#banner{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: linear-gradient(180deg,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0.3) 50%,
    rgba(0,0,0,0.6) 100%),
    url("https://unsplash.it/1920/1080?random");
  background-size: cover;
  ;
}
#banner h1 {
  margin:0;
  padding:0;
  color: white;
  font-size: 5.0vw;
  text-align: center;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 1.5vw;
  font-weight: lighter;
}
.categories a:hover {
  opacity: 0.5
}

#footer{
  padding: 0 50px;
  margin: 0;
  background: rgb(30, 30, 30);
  color: lightgrey;
  align-items: center-left;
}


.categories{
  padding: 50px;
  font-weight: lighter;
  text-align:center;
}
.categories h2{
  font-weight: bold;
  color: #52414C;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

#footer p{
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  padding-top:5px;
}

#footer li {
  padding: 5px;
  font-size: 5px;
  display: inline;
}

#footer ul {
  padding:0px;
  margin: 0px;
}
